@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@100;300&display=swap");
:root {
  /* --main-background-color: rgb(255, 255, 255); */
  --main-background-color: rgb(44, 44, 44);
}

* {
  background-color: var(--main-background-color);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: bold;
}
body {
  margin-top: 5%;
}
.title {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  /* flex: 2 1; */
  justify-content: space-between;
}
.toggleTextBoxContainer {
  width: 8vw;
  height: 25vh; /*fix later on  */
  background-color: rgb(252, 53, 53);
  padding: 1%;
  border-radius: 7px;
}
/* applying  grid to cards */
.gridContainer {
  margin: 0 2% 15% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4%;
  row-gap: 5%;
  width: 100%;
}
.grid-item {
  border-radius: 5px;
  background: black;
  position: relative;
  cursor: pointer;
}

.imgClass {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.2s;
}
.grid-item:hover > .imgClass {
  opacity: 0.3;
  /* cursor: pointer; */
}

.labelForSpeech {
  /* position: absolute;
  display: flex;
  justify-content: center; */
  /* align-self: center; */
  /* align-content: center; */
  /* text-align: center; */
  /* left: 20%;
  top: 40%; */
  /* background: none;
  text-shadow: 2px 2px 2px #000000; */
}
