@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Montserrat:wght@100;300&display=swap");
:root {
  --main-background-color: rgb(255, 255, 255);
  /* --main-background-color: rgb(44, 44, 44); */
}

* {
  background-color: var(--main-background-color);
  box-sizing: border-box;
  /* color: rgb(255, 255, 255); */
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: bold;
}
body {
  margin-top: 5%;
  overflow-x: hidden;
}
.title {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  /* flex: 2 1; */
  justify-content: space-between;
}
.toggleTextBoxContainer {
  width: 8vw;
  height: 40vh; /*fix later on  */

  padding: 3.5%;
  border-radius: 7px;
  position: relative;
}

.collapsible {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(252, 53, 53);
  color: #ffffff;
  /* padding: 13%; */
  /* justify-content: flex-start; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* align-self: flex-start; */
}

.leftSidePanel {
  display: flex;
  flex-direction: column;
  margin: 0 5% 15% 0;
}
.content1 {
  margin-bottom: 5%;
  height: 40vh;
  padding: 2% 3%;
  border-radius: 5px;
  background-color: rgb(252, 53, 53);
  display: none;
  overflow: hidden;
  position: relative;
}

/* applying  grid to cards */

.gridContainer {
  margin: 0 2% 15% 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4%;
  row-gap: 5%;
  width: 100%;
}
.grid-item {
  border-radius: 5px;
  background: black;
  position: relative;
  cursor: pointer;
}

.imgClass {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.2s;
}
.grid-item:hover > .imgClass {
  opacity: 0.3;
}
.labelForSpeech {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px #000000;
  background: none;
}
/* form */

.Inputform {
  background: none;
  display: flex;
  flex-direction: column;
  position: relative;
  /* flex-row: ; */
}
textarea {
  width: 100%;
  height: 11vh;
  resize: none;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #000000;
  padding: 1% 2%;
  font-size: 17px;
}
.labelVoice {
  background: none;
  margin-bottom: 2%;
  font-size: 20px;
}
.SpeakText {
  width: 100%;
  border: none;
  margin-top: 2%;
  background: rgb(37, 37, 37);
  border-radius: 5px;
  padding: 2% 0;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  /* align-self: flex-end; */
  /* justify-self: end; */
}
#voiceSelect {
  background: rgb(37, 37, 37);
  border: none;
  border-radius: 5px;
  padding: 0.5%;
  margin-bottom: 2%;
  color: #ffffff;
}
